.not-found {
    background-color: #E5E7EB;
    height: 90dvh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 4rem;
    margin-top: 4rem;
}
p {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

span {
    font-size: 1.2rem;
}