.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    background-color: #E5E7EB;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 8px;
}

.card:hover {
    background-color: #1E2A38;
    color: #fff;
}

.bg-blue {
    background-color: #E5E7EB;

    .container {
        display: grid;
        grid-template-columns: 50% 50%;

        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
            margin: 1rem 0;
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}


// Media queries

@media (max-width: 700px){
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px){
    .grid {
        grid-template-columns: 1fr;
    }

    .bg-blue {
        .container{
            grid-template-columns: 1fr;
        }
    }
}